#weight-seer-wrapper fieldset
{
	padding: 10px;
}

#weight-seer-wrapper form label
{
	float:left;
	margin-right:10px;
}

#weight-seer-wrapper .clear
{
	clear:both;
	display:block;
	float:none;
}

#weight-seer-wrapper .ws_warning
{
	color:red;
	font-weight:bold;
}